# Directory where generated security reports will be stored
REPORTS_DIR="./reports"

# Container image to scan and deploy
IMAGE_NAME="bkimminich/juice-shop"

# Target source code directory for Gitleaks and Trivy Filesystem scans
TARGET_DIR="."
